:root {
  --swiper-navigation-color: white;
}

html,
html body {
  padding: 0;
  margin: 0;
  font-family: var(--font-gotham);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(245, 245, 245, 1);
  overflow-x: hidden;
  color: #404040;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 8px;
  }

  @media screen and (max-width: 600px) {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }
  }
}

.page-scroller__section {
  height: 100vh;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
  font-size: 40px !important;
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
