// Custom react-image-gallery

.image-gallery-slides {
  width: 100%;
  aspect-ratio: 1.85;
  height: unset !important;
  max-height: 100%;

  .image-gallery-slide {
    height: 100%;

    .image-gallery-image {
      background-color: #e5dfdf;
      border-radius: 0px;
      max-height: 100%;
      height: 100%;
    }
  }
}

.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-bottom.thumbnails-swipe-horizontal {
  margin-top: 32px;
  height: 74px;
}

.image-gallery-description {
  bottom: 0 !important;
  font-size: 14px;
}
.image-gallery-index {
  font-size: 14px;
}
.image-gallery-thumbnails-container {
  gap: 8px;
  display: flex;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: 2px solid #16ad5b !important;
}
.image-gallery-thumbnail {
  border: 2px solid transparent !important;
}

.image-gallery-thumbnail-image {
  height: 60px !important;
  width: 128px !important;
  border-radius: 0px;
  object-fit: contain;
  background-color: #f8f8f8;
}
.image-gallery-thumbnail {
  height: 74px !important;
  width: 132px !important;
  border-radius: 0px;
}
.image-gallery-icon {
  padding: 0;
  filter: unset;

  &:hover {
    color: #16ad5b;
  }

  .image-gallery-svg {
    height: 76px;
    width: 38px;
  }
}

.image-gallery-right-nav {
  padding-right: 16px;

  &:hover {
    color: #ffba00 !important; /* Đổi màu chữ khi hover */
  }
}

.image-gallery-left-nav {
  padding-left: 16px;

  &:hover {
    color: #ffba00 !important; /* Đổi màu chữ khi hover */
  }
}

.image-gallery-slides {
  border-radius: 0px;
  overflow: hidden;
}
.image-gallery-index {
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

// fullscreen

.image-gallery-fullscreen-button {
  padding-right: 16px;
}

.image-gallery-content.image-gallery-thumbnails-bottom.fullscreen {
  & .image-gallery-slide-wrapper.image-gallery-thumbnails-bottom {
    height: calc(100vh - 124px);
    & .image-gallery-swipe {
      height: 100%;
    }
  }
  &
    .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-bottom.thumbnails-swipe-horizontal {
    margin-top: 24px;
  }
}

.custome-gallery .image-gallery-thumbnails-container {
  flex-direction: column;

  .image-gallery-thumbnail {
    width: fit-content !important;
  }

  .image-gallery-thumbnail-inner {
    width: fit-content !important;
  }

  .image-gallery-thumbnail-image {
    width: 80px !important;
  }
}

.custome-gallery {
  .image-gallery {
    height: 480px;
  }

  .image-gallery-content {
    height: 100%;
  }

  .image-gallery-slide-wrapper,
  .image-gallery-swipe,
  .image-gallery-slides {
    height: 100% !important;
  }

  @media (max-width: 768px) {
    .image-gallery-content {
      height: 300px !important;
    }
  }
}

.infinite-scroll-component__outerdiv {
  width: 100% !important;
}

.image-gallery-index {
  border-radius: 0 !important;
}

.image-gallery-fullscreen-button::before {
  content: "";
  background-image: url("/images/full-screen.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 38px;
  height: 52px;
}

/* Ẩn icon cũ nếu cần */
.image-gallery-fullscreen-button .image-gallery-svg {
  display: none;
}
