@forward "swiper/css";
@forward "swiper/css/effect-fade";
@forward "swiper/css/navigation";
@forward "swiper/css/pagination";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.banner-section {
  .swiper-button-prev::after {
    content: "";
    background: url("/images/left-arrow.svg") no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    left: 20px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(85%) saturate(408%)
      hue-rotate(1deg) brightness(101%) contrast(105%);
  }

  .swiper-button-next::after {
    content: "";
    background: url("/images/right-arrow.svg") no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    right: 20px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(85%) saturate(408%)
      hue-rotate(1deg) brightness(101%) contrast(105%);
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .swiper:hover .swiper-button-prev {
    opacity: 1;
    transform: translateX(0);
  }

  .swiper:hover .swiper-button-next {
    opacity: 1;
    transform: translateX(0);
  }

  .swiper-button-prev {
    transform: translateX(-20px);
  }

  .swiper-button-next {
    transform: translateX(20px);
  }
}

.news-section {
  .swiper-button-prev::after {
    content: "";
    background: url("/images/icon_slide-left.png") no-repeat center;
    background-size: contain;
    width: 23px;
    height: 60px;
    left: 0px;
  }

  .swiper-button-next::after {
    content: "";
    background: url("/images/icon_slide-right.png") no-repeat center;
    background-size: contain;
    width: 23px;
    height: 60px;
    right: 0px;
  }
}

.swiper-button-prev::after {
  content: "";
  background: url("/images/icon_slide-left.png") no-repeat center;
  background-size: contain;
  width: 13px;
  height: 50px;
  left: 0px;
}

.swiper-button-next::after {
  content: "";
  background: url("/images/icon_slide-right.png") no-repeat center;
  background-size: contain;
  width: 13px;
  height: 50px;
  right: 0px;
}

.swiper-pagination-bullet {
  background-color: #ffba00 !important;
}
